
/* ----------------------------------------------------- */

.links {
    position: relative;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border:  solid white;
    border-width: 1px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    font-size: 15px;
}

.linksGroup {
  webkit margin-right: 20px;
}

/* ----------------------------------------------------- */

/* --------------GITHUB--------------------------------------- */

.links-github {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  webkit margin-right: 20;
  border-radius: 8px;
  font-size: 15px;
}

.links-github:hover {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #2B3035;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  webkit margin-right: 20;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------GITHUB--------------------------------------- */


/* --------------TELEGRAM--------------------------------------- */

.links-telegram {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
}

.links-telegram:hover {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #63B5EF;
background: -webkit-linear-gradient(to right, #fff, #63B5EF);
background: linear-gradient(to right, #fff, #63B5EF);
Safari 7+ */


  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------TELEGRAM--------------------------------------- */


/* --------------TWITTER--------------------------------------- */

.links-twitter{
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
}

.links-twitter:hover{
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  Safari 7+ */

  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------TWITTER--------------------------------------- */


/* --------------LIN--------------------------------------- */

.links-linkedin{
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
}

.links-linkedin:hover{
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #0072AC;

  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------LIN--------------------------------------- */



/* --------------MAIL--------------------------------------- */

.links-mail {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
}

.links-mail:hover {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #005600;
 
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------MAIL--------------------------------------- */

/* --------------APP--------------------------------------- */

.links-app {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 0.5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
}

.links-app:hover {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #58A7E9;
 
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
/* --------------APP--------------------------------------- */
